.game {

    font-family: "akbar";
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.game img{
    margin-top: 50px;
    position: absolute;
    width: 70px;
    height: 70px;
}

.game .falling{
    position: absolute;
    margin-top: 0px;
    margin-left: 80px;
}

.game h1{
    border: 3px solid yellow;
    background-image: url("./images/cloud-back.gif");
    background-size: contain;
    text-shadow: -2px 3px black, -3px 3px black;
    color: #ffdb4d;
    font-size: 45px;
    padding: 30px;
    width: 700px;
    margin-bottom: 0;
    
}
.game .strays{
    font-size: 20px;
    border: 3px solid yellow;
    background-image: url("./images/cloud-back.gif");
    background-size: auto;
    text-shadow: -2px 3px black, -3px 3px black;
    color: #ffdb4d;
    padding: 14px;
    width: 450px;
    text-shadow: -1px 2px black, -1px 1px black;
}

#start-button{
    font-family: "akbar";
    border: 4px solid yellow;
    color: #ffdb4d;
   background-color: #57ceff;
    text-shadow: -1px 2px black, -1px 1px black;
    font-size: 19px;
    padding: 5px 13px;
    margin-bottom: 15px;
}

#start-button:hover{
    background-color: #ffdb4d;
    color: #57ceff;
    border: 4px solid #57ceff;
}

#score-div {
    position: absolute;
    font-size: 13px;
    border: 3px solid yellow;
    background-image: url("./images/cloud-back.gif");
    text-shadow: -2px 3px black, -3px 3px black;
    color: #ffdb4d;
    padding: 0px 18px;
    width: 90px;
    margin-top: 10px;
    margin-left: 165px;
    text-shadow: -1px 2px black, -1px 1px black;
}

#house-image{
    background-image: url("./images/house.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 20px;

}


#timer {
    border: 3px solid yellow;
    font-size: 13px;
    text-shadow: -2px 3px black, -3px 3px black;
    text-shadow: -1px 2px black, -1px 1px black;
    color: #ffdb4d;
    background-color: #57ceff;
    padding: 13px 23px;
    position: absolute;
    margin-top: 342px;
    margin-left: 586px;

}


