.game {

    font-family: "akbar";
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.game h1{
    border: 3px solid yellow;
    background-image: url("./images/cloud-back.gif");
    background-size: contain;
    text-shadow: -2px 3px black, -3px 3px black;
    color: #ffdb4d;
    font-size: 35px;
    padding: 30px;
    width: 600px;
    margin-bottom: 0;
    
}
.game p{
    font-size: 15px;
    border: 3px solid yellow;
    background-image: url("./images/cloud-back.gif");
    background-size: auto;
    text-shadow: -2px 3px black, -3px 3px black;
    color: #ffdb4d;
    padding: 14px;
    width: 350px;
    text-shadow: -1px 2px black, -1px 1px black;
}

#start-button{
    font-family: "akbar";
    border: 4px solid yellow;
    color: #ffdb4d;
   background-color: #57ceff;
    text-shadow: -1px 2px black, -1px 1px black;
    font-size: 15px;
    padding: 5px 13px;
}

#start-button:hover{
    background-color: #ffdb4d;
    color: #57ceff;
    border: 4px solid #57ceff;
}

#score-div p{
    padding: 4px 8px;
    margin-left:10px;
    width: 80px;
    font-size: 13px;
}

#house-image{
    background-image: url("../jogo/images/house.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px 0px;


}

